<ion-app>
  <ion-header >
    <ion-toolbar >
      <ion-title>App</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-card>
            <ion-item style="outline-style: none;">
              <ion-input [(ngModel)]="Name"
              type="text" style="outline-style: none; ">
              {{'Name :'}}
              </ion-input>
            </ion-item>
            <ion-item style="outline-style: none;">
              <ion-input [(ngModel)]="Password"
              type="password" style="outline-style: none;">
              {{'Password :'}}
            </ion-input>
            </ion-item>
            <ion-button id="btn-log" (click)="onLogin(Name,Password)"
            color="primary" expand="block">SignIn</ion-button>
            <ion-button id="btn-regis" (click)="onNewRegister()"
            color="secondary" expand="block">SignUp</ion-button>
            <ion-input>{{loginStatus}}</ion-input>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
   </ion-content>
  </ion-app>
