<ion-header>
  <ion-toolbar>
    <ion-title>editing</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="margin-top: 5%;">
    <ion-row>
      <ion-col >
        <ion-card>
        <ion-item style="outline-style: none;">
          <ion-input [(ngModel)]="sub"
          type="text" style="outline-style: none; ">
          {{'User Name :'}}
          </ion-input>
        </ion-item>
        <ion-item style="outline-style: none;">
          <ion-input [(ngModel)]="str"
          type="text" style="outline-style: none;">
          {{'User Password :'}}
        </ion-input>
        </ion-item>
        <ion-button id="btn-add" (click)="Removedite();
        save(sub,str)"
            style="outline-style: none; color: blue; margin-left: 80%;">Save</ion-button>
        </ion-card>
        </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
