<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-card style="margin-top :20% ;" expand="block">
          <div style="vertical-align:middle">
          <ion-input style="font-weight: bold; margin-left: 20%;">
            Welcom to this New App
             </ion-input>
            </div>
        <ion-button id ="btn-loginp" (click)="loginp()"
       color="secondary"  expand="block">
        SignIn</ion-button>
        <ion-button id="btn-registerp" (click)="registerp()"
        color="secondary" expand="block">
        SignUp</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
