<ion-header>
  <ion-toolbar>
    <ion-title>members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list style="margin-top: 3%; margin-left: .5%;margin-right: .5%; outline: lightblue;">
        <ion-item  *ngFor="let item of allObjname ">
          <p>{{item}}</p>
          <ion-button  (click)="onEdit(item)"
          style="color: black;outline: none; margin-left: 45%;">Edit</ion-button>
          <ion-button  (click)="onRemove(item)"
          style="color: black;outline: none; margin-right: 5%;">

          Delete
        </ion-button>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
