<ion-header style="font-weight: bold; font-size:medium; margin-left: 20mm;">

  </ion-header>
  <ion-content>
    <ion-header  >
      <ion-toolbar >
        <div style="margin-left: 5%;">
          <strong>Add User</strong>
        </div>
        </ion-toolbar>
    </ion-header>
      <ion-grid style="margin-top: 5%;">
        <ion-row>
          <ion-col >
            <ion-card>
            <ion-item style="outline-style: none;">
              <ion-input id="enteredName" [(ngModel)]="Name"
              type="text" style="outline-style: none; ">
              {{'User Name :'}}
              </ion-input>
            </ion-item>
            <ion-item style="outline-style: none;">
              <ion-input id="enteredPass" [(ngModel)]="Password"
              type="password" style="outline-style: none;">
              {{'User Password :'}}
            </ion-input>
            </ion-item>
            <ion-button id="btn-add" (click)="onAddUser()"
            style="outline-style: none; color:primary; margin-left: 70%;">Add</ion-button>
            <p>{{registerStatus}}</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>

